html,body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Top header bar */
.pf-c-page__header {
  background-color: #2c6cb0 !important;
  color: #ffffff !important;
}

/* Replace the Keycloak logo with your custom logo */
/* Force override logo image */
.keycloak__pageheader_brand {
  content: url("../img/logo-mini.png") !important;
  height: 40px !important;   /* adjust size */
  width: auto !important;
}

/* Buttons */
.pf-c-button {
  border-radius: 8px !important;
}


/*********** New Menu ***********/
.pf-v5-c-nav__section-title {
	border-block-end: 2px #73c5e6 solid;
}

.pf-v5-c-nav__section-title > span:first-of-type {
  font-size: 15px;
  font-weight: bold;
  padding-right: 10px;
}

/* Left sidebar */
.pf-v5-c-page__sidebar {
	overflow-x: hidden;
}

.pf-v5-c-page__sidebar-body {
  /*background: #292e34;*/
  background-image: url("../img/background-dark.png");
  background-size: cover;
  background-position: center;
}

.pf-v5-c-nav .pf-v5-c-nav__section h2{
    color: #fff;
    font-weight: bold;
	font-size: 15px;
	border-block-end: 1px #FFF solid;
}

.pf-v5-c-nav .pf-v5-c-nav__list > li a i, .pf-v5-c-nav .pf-v5-c-nav__list > li a {
  color:  #FFF !important;
  display: inline-block;
  margin-right: 10px;
}

.pf-v5-c-nav .pf-v5-c-nav__list > li > a{
  color: #dbdada;
  font-size: 14px !important;
  font-weight: 400;
  padding: 10px 20px !important;
  line-height: 30px;
  border-left-width: 12px;
  border-left-style:  solid;
  border-left-color: #6e3f54;
  margin-left: -6px;
}

.pf-v5-c-nav .pf-v5-c-nav__list > li > a:hover{
  background: #393f44;
  border-color:#292e34;
  border-left-color: #393f44;
  color: #fff;
}

.pf-v5-c-nav .pf-v5-c-nav__list > li > a:after{
  display: none!important;
}


.pf-v5-c-nav .pf-v5-c-nav__list > li > a.pf-m-current {
  color: #fff;
  background: #393f44!important;
  border-bottom: 1px solid #000!important;
  border-top: 1px solid #000!important;
  border-left-color: #39a5dc!important;
}

.pf-v5-c-nav .pf-v5-c-nav__list > li a.pf-m-current i, .pf-v5-c-nav .pf-v5-c-nav__list > li a.pf-m-current{
  color: #39a5dc;
}
